<div id="eye-catch-sp"><a href="https://drawer.orilab.jp/index.html?url_site=https://nobori.orilab.jp"><img
        src="/wp-content/uploads/2018/06/img_1_01.jpg" alt="" width="640" height="690"/></a></div>
<div class="pc"><p style="text-align: center; font-size: 20px; line-height: 1.6; font-weight: bold;">オリジナルノベルティラボは<br/>在庫リスクの心配や不安がなく、<br/>オリジナルノベルティグッズを<br/>1個から業界最安値で制作・提供可能なサービス。<br/>デザインエディタを使ってどなたにでも簡単に<br/>名前・メッセージ・画像などを取り入れた<br/>オリジナルノベルティがデザインできます。<br/>バッグ、文房具、タオルなどの<br/>オリジナルノベルティをお取り扱い中、<br/>
    ぜひ当サイトをお役立てください !<br/><br/></p></div>
<div class="sp"><p style="text-align: center; font-size: 17px; line-height: 1.6; font-weight: bold;">オリジナルノベルティラボは<br/>在庫リスクの心配や不安がなく、<br/>オリジナルノベルティグッズを1個から<br/>業界最安値で制作・提供可能なサービス。<br/>デザインエディタを使って<br/>どなたにでも簡単にでも簡単に<br/>名前・メッセージ・画像などを取り入れた<br/>オリジナルノベルティが<br/>デザインできます。<br/>バッグ、文房具、タオルなどの<br/>オリジナルノベルティをお取り扱い中、<br/>
    ぜひ当サイトをお役立てください !<br/><br/></p></div>
<div class="pc"><h2>ご注文の流れ</h2></div>
<div class="sp"><h2>ご注文の流れ</h2></div>
<div class="pc"> オリジナルノベルティラボはデザインエディタを使い、Web上でオリジナルのデザインをラクラク作成。<br/>思い通りのオリジナルノベルティグッズをご自分で作成することができます。</div>
<div class="pc"><br/><img src="https://novelty.orilab.jp/wp-content/uploads/2018/07/flow_pc.png"/></div>
<div><br/>自分で考える時間がない、プロの発想に頼りたいなど、デザインのご相談にも随時対応。<br/>こういうデザインにしたいというイメージをお持ちの方は、お手持ちのスマホから画像や手書きのイメージをお送りいただければ無料で専門のデザイン担当がご希望通りに制作します。
</div>
<div class="sp"><img src="https://novelty.orilab.jp/wp-content/uploads/2018/07/step_sp.jpg"/> </div>
<div> </div>
<div> </div>
<div class="sp">
    <!--div class="dezasapo"> <img src="https://novelty.orilab.jp/wp-content/uploads/2018/02/deza-sup_flow.png"> </div--></div><!--table class="sp-table" style="height: auto; width: 100%;">
  <tbody>
    <tr>
      <td style="width: 40%;"><img class="alignnone size-full wp-image-1308" src="https://novelty.orilab.jp/wp-content/uploads/2017/09/order-1.png" alt="" width="142" height="174" /></td>
      <td style="width: 60%;">
        <p style="padding-top: 30px; font-size: 20px; font-weight: bold; line-height: 1.3;">テンプレートに<br /> デザインする</p>
      </td>
    </tr>
    <tr>s
      <td style="width: 40%;"><img class="alignnone size-full wp-image-1309" src="https://novelty.orilab.jp/wp-content/uploads/2017/09/order-2.png" alt="" width="142" height="174" /></td>
      <td style="width: 60%;">
        <p style="padding-top: 30px; font-size: 20px; font-weight: bold; line-height: 1.3;">商品をカートに追加する</p>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;"><img class="alignnone size-full wp-image-1310" src="https://novelty.orilab.jp/wp-content/uploads/2017/09/order-3.png" alt="" width="142" height="174" /></td>
      <td style="width: 60%;">
        <p style="padding-top: 30px; font-size: 20px; font-weight: bold; line-height: 1.3;">デザインデータをアップする</p>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;"><img class="alignnone size-full wp-image-1311" src="https://novelty.orilab.jp/wp-content/uploads/2017/09/order-4.png" alt="" width="142" height="174" /></td>
      <td style="width: 60%;">
        <p style="padding-top: 40px; font-size: 20px; font-weight: bold; line-height: 1.3;">購入する</p>
      </td>
    </tr>
  </tbody>
</table--><!--p>オリジナルノベルティラボでは、カートに商品を100個以上追加した際に全商品の価格から40%引きをしています。これにより、業界最安価格である890円を実現しました！</p-->
<div><h2>さまざまなシーンにオリジナルノベルティ効果</h2>
    <p style="font-size: 18px; line-height: 1.3; font-weight: bold; color: #fb9dfe; border: solid 2px; padding: 19px;">
        ノベルティラボのメリットは、受け取る人に使い続けてもらえる実用品としての付加価値にあります。名前やインパクトのあるデザインを取り入れたノベルティは印象付けに効果的！ビジネスの記念品・景品、個人のプレゼントなど幅広いシーンで利用されています。</p>
    <p>
        オリジナルノベルティラボの魅力は、相手との会話を弾ませたり、抵抗感なく情報や効果を受け取ってもらいやすい支援ツールにもなることです。初めての出会いはもちろん、定期的な節目にも、メッセージと合わせて実用品を差し上げるスタイルは、場所や季節・時間・目的のTPOに合わせ、今後も無限大の活用が可能となります。</p>
    <div class="pc"><p>店舗・施設の開店に !<br/> イベントの来場・成約に !<br/> 商談や会話のきっかけに !<br/> ビジネスの新規・継続獲得に !<br/> お付き合いの節目に !<br/>
        個人の記念やプレゼントに !</p></div>
    <div class="sp"><p>店舗・施設の開店に !<br/> イベントの来場・成約に !<br/> 商談や会話のきっかけに !<br/> ビジネスの新規・継続獲得に !<br/> お付き合いの節目に !<br/>
        個人の記念やプレゼントに !</p></div>
    <p><a href="https://drawer.orilab.jp/index.html?url_site=https://novelty.orilab.jp"> <img
            class="aligncenter wp-image-909 size-full" src="/wp-content/uploads/2018/06/dezasapo_btn_top.png" alt=""
            width="580" height="80"/> </a></p></div><p>&nbsp;</p><h2>ノベルティの種類と特徴</h2>
<div class="sp"><p>オリジナルノベルティラボは、バッグ、文房具、タオル、マグカップ、キーホルダー、モバイルバッテリー、6つのノベルティから選べます。<br/>
    幅広い目的で選べるバリエーション、印刷方法など、ご要望にマッチした商品をご用意しています。</p>[slideshow_deploy id='1089']
</div>
<div class="pc"><p>オリジナルノベルティラボは、バッグ、文房具、タオル、マグカップ、キーホルダー、モバイルバッテリー、6つのノベルティから選べます。<br/>
    幅広い目的で選べるバリエーション、印刷方法など、ご要望にマッチした商品をご用意しています。</p>
    <p>[wc_row][wc_column size="one-third" position="first"]</p>
    <p><a href="/product-category/bag"> <img class="alignnone size-full wp-image-911"
                                             src="/wp-content/uploads/2017/09/bag_img.jpg" alt="" width="230"
                                             height="230"/> </a></p>
    <p><a style="color: #000;" href="/product-category/bag"><span
            style="font-size: 14pt; margin-bottom: 10px;"> <strong> バッグ</strong> </span> <br/> <span
            style="font-size: 10pt;">丈夫で持ち運びに便利なトートバッグは、買い物からアウトドアまで大活躍！デザイン面を上手に使えば、オリジナルの写真や文字などもバッチリ映えます。お揃いで使うのにもぴったりです。 </span></a>
    </p>
    <p>[/wc_column][wc_column size="one-third"]</p>
    <p><a href="product-category/stationery"><img class="alignnone wp-image-6499 size-full"
                                                  src="https://novelty.orilab.jp/wp-content/uploads/2017/09/4e19793b5f5e0aa250353f494ccf444a.jpg"
                                                  alt="" width="230" height="230"/></a></p>
    <p><a style="color: black;" href="http://product-category/stationery"><strong>文房具</strong> </a><a
            style="color: black;" href="http://product-category/stationery"> <br/> <span style="font-size: 10pt;"> 職場や学校、自宅など様々なシーンで活躍する文房具。実用性の高いボールペン、多目的に使えるノートなどの商品からお選びいただけます。名前やオリジナルのデザインを入れれば、印象的なノベルティに！</span>
        <br/></a></p>
    <p>[/wc_column][wc_column size="one-third" position="last"]</p>
    <p><a href="/product-category/towel"> <img class="alignnone size-full wp-image-902"
                                               src="/wp-content/uploads/2017/09/towel.jpg" alt="" width="230"
                                               height="230"/> </a></p>
    <p><a style="color: #000;" href="/product-category/towel"><span
            style="font-size: 14pt; margin-bottom: 10px;"> <strong> タオル</strong> </span> <br/> <span
            style="font-size: 10pt;"> 消耗品として生活に欠かせないタオルは、ノベルティとしても大人気 !日常で使う機会が多く、販売促進や記念品にもぴったりで、オリジナルデザインのメリットを活かすことができます。</span>
    </a></p>
    <p>[/wc_column][/wc_row]</p>
    <p>[wc_row][wc_column size="one-third" position="first"]</p>
    <p><a href="/product-category/mug"> <img class="alignnone size-full wp-image-902"
                                             src="/wp-content/uploads/2017/09/cup.jpg" alt="" width="230" height="230"/>
    </a></p>
    <p><a style="color: black;" href="/product-category/mug"> <strong> マグカップ</strong> <br/> <span
            style="font-size: 10pt;"> くつろぎやリラックスタイムに欠かせないのがマグカップ。 使って楽しくなるオリジナルデザインのノベルティは、贈っても、贈られても、 幅広い世代に好印象をつなげる実用品になります ! </span>
    </a></p>
    <p>[/wc_column][wc_column size="one-third"]</p>
    <p><a href="/product-category/keyring"> <img class="alignnone size-full wp-image-902"
                                                 src="/wp-content/uploads/2017/09/keyholder.jpg" alt="" width="230"
                                                 height="230"/> </a></p>
    <p><a style="color: #000;" href="/product-category/keyring"><span
            style="font-size: 14pt; margin-bottom: 10px;"> <strong> キーホルダー</strong> </span> <br/> <span
            style="font-size: 10pt;"> 携帯して持ち歩き使えるキーホルダーは、アクセサリー感覚の印象が決め手 ! オリジナルデザインのキーホルダーはセンスを感じさせ、 愛着を持ってもらえるノベルティとして選ばれています。</span>
    </a></p>
    <p>[/wc_column][wc_column size="one-third" position="last"]</p>
    <p><a href="/product-category/mobilebattery"> <img class="alignnone size-full wp-image-902"
                                                       src="/wp-content/uploads/2017/09/charge.jpg" alt="" width="230"
                                                       height="230"/> </a></p>
    <p><a style="color: #000;" href="/product-category/mobilebattery"><span
            style="font-size: 14pt; margin-bottom: 10px;"> <strong> モバイルバッテリー</strong> </span> <br/> <span
            style="font-size: 10pt;"> スマホや携帯電話を使う現代人には必須の実用品。 デザイン、写真、イラストなどを大きく扱えるため、 さまざまな用途に応え、メッセージ性もバッチリのノベルティです !</span>
    </a></p>
    <p>[/wc_column][/wc_row]</p></div><p>&nbsp;</p><h2>その他お取り扱い商品</h2>
<div class="sp"><p>
    オリジナルノベルティラボを運営するオリジナルラボ株式会社では、WEB上でオリジナルTシャツやパーカー、タオルやバッグが作成可能なTMIXを運営しています。下記のアイテムをクリックすると、TMIXのサイトが開きます。TMIXではWEB上でデザインを作成するデザインエディタをご用意しておりますので、ぜひご利用ください。</p>
    [slideshow_deploy id='1090']
</div>
<div class="pc"><p>オリジナルノベルティラボを運営するオリジナルラボ株式会社では、WEB上で オリジナルTシャツやパーカー、タオルやバッグが作成可能なTMIX
    を運営しています。下記のアイテムをクリックすると、TMIXのサイトが開きます。TMIXではWEB上でデザインを作成するデザインエディタをご用意しておりますので、ぜひご利用ください。</p>
    <p>[wc_row][wc_column size="one-third" position="first"]</p>
    <p><img class="alignnone size-full wp-image-988" src="/wp-content/uploads/2017/09/Tshirt.png" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> Tシャツ</strong> </span> <br/> <span
            style="font-size: 10pt;"> サイズや色数の豊富な定番Tシャツから、イベントやスポーツ向け等、様々なオリジナルTシャツをご用意しました。</span></p>
    <p>[/wc_column] [wc_column size="one-third"]</p>
    <p><img class="alignnone size-full wp-image-991"
            src="/wp-content/uploads/2017/09/ce31b30c5d1b193241ceead1300f29c2.png" alt="" width="230" height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> ポロシャツ</strong> </span> <br/> <span
            style="font-size: 10pt;"> 企業のユニフォームにおすすめの厚手のポロシャツや、スポーツで活躍するドライポロシャツ等多数取り揃えております。</span></p>
    <p>[/wc_column] [wc_column size="one-third" position="last"]</p>
    <p><img class="alignnone size-full wp-image-989" src="/wp-content/uploads/2017/09/long-tshirt.jpg" alt=""
            width="230" height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> 長袖Tシャツ</strong> </span> <br/> <span
            style="font-size: 10pt;"> 年間通して着るなら長袖Tシャツがおすすめです。厚手の定番ロングTシャツから七分丈のラグランTシャツ等ご用意しました。</span></p>
    <p>[/wc_column] [/wc_row]</p>
    <p>[wc_row][wc_column size="one-third" position="first"]</p>
    <p><img class="alignnone size-full wp-image-990" src="/wp-content/uploads/2017/09/sweat.png" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> スウェット・トレーナー</strong> </span> <br/> <span
            style="font-size: 10pt;"> 部屋着やトレーニングウェアとして欠かせないスウェットは、厚手と薄手の2種類をご用意しております。</span></p>
    <p>[/wc_column] [wc_column size="one-third"]</p>
    <p><img class="alignnone size-full wp-image-991" src="/wp-content/uploads/2017/10/parker.jpg" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> パーカー</strong> </span> <br/> <span
            style="font-size: 10pt;"> ジップアップ、プルオーバータイプのパーカーをご用意。学園祭などのイベントにも人気のオリジナルパーカーが作れます。</span></p>
    <p>[/wc_column] [wc_column size="one-third" position="last"]</p>
    <p><img class="alignnone size-full wp-image-989" src="/wp-content/uploads/2017/10/baby.jpg" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> ベビー服</strong> </span> <br/> <span
            style="font-size: 10pt;"> ベビーサイズのオリジナルTシャツやロンパースなど、出産祝いにも人気のアイテムを取り揃えています。</span></p>
    <p>[/wc_column] [/wc_row]</p>
    <p>[wc_row][wc_column size="one-third" position="first"]</p>
    <p><img class="alignnone size-full wp-image-990" src="/wp-content/uploads/2017/10/towel.jpg" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> タオル</strong> </span> <br/> <span
            style="font-size: 10pt;"> 様々な用途にお使いいただけるタオルをご用意しました！名入れタオル・オリジナルタオル制作にどうぞ。</span></p>
    <p>[/wc_column] [wc_column size="one-third"]</p>
    <p><img class="alignnone size-full wp-image-991" src="/wp-content/uploads/2017/10/bag.jpg" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> バッグ・ポーチ</strong> </span> <br/> <span
            style="font-size: 10pt;"> シンプルで地球に優しいエコバッグやカラフルなトートバッグ、化粧品の入るポーチ等複数ご用意しました。</span></p>
    <p>[/wc_column] [wc_column size="one-third" position="last"]</p>
    <p><img class="alignnone size-full wp-image-989" src="/wp-content/uploads/2017/10/apron.jpg" alt="" width="230"
            height="230"/></p>
    <p><span style="font-size: 14pt; margin-bottom: 10px;"> <strong> エプロン</strong> </span> <br/> <span
            style="font-size: 10pt;"> ご自身での利用はもちろん、母の日や奥さんへのプレゼントにも最適なオリジナルのエプロンはいかがですか？</span></p>
    <p>[/wc_column] [/wc_row]</p></div><p>&nbsp;</p><h2>グッズ制作時のサポート内容</h2>
<table style="width: 100%;">
    <tbody>
    <tr>
        <td style="width: 50%;"><p style="text-align: center;"><img class="size-full wp-image-1508 aligncenter"
                                                                    src="/wp-content/uploads/2017/10/sup_01.png" alt=""
                                                                    width="228" height="227"/></p>
            <div class="pc"><p style="text-align: center; font-size: 20px; font-weight: bold; line-height: 1.4;">
                お客様専属スタッフによる <br/> 柔軟かつきめ細やかな <br/> 徹底サポート</p></div>
            <div class="sp"><p style="text-align: center; font-size: 13px; font-weight: bold; line-height: 1.4;">
                お客様専属スタッフ <br/> による 柔軟かつ <br/> きめ細やかな <br/> 徹底サポート</p></div>
        </td>
        <td style="width: 50%;"><p style="text-align: center;"><img class="size-full wp-image-1509 aligncenter"
                                                                    src="/wp-content/uploads/2017/10/sup_02.png" alt=""
                                                                    width="222" height="227"/></p>
            <div class="pc"><p style="text-align: center; font-size: 20px; font-weight: bold; line-height: 1.4;">実績豊富な
                <br/> プロデザイナーによる <br/> デザイン相談サポート</p></div>
            <div class="sp"><p style="text-align: center; font-size: 13px; font-weight: bold; line-height: 1.4;">実績豊富な
                <br/> プロデザイナー <br/> による デザイン <br/>相談サポート</p></div>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;"><p><img class="alignnone size-full wp-image-1510 aligncenter"
                                        src="/wp-content/uploads/2017/10/sup_03.png" alt="" width="222" height="227"/>
        </p>
            <div class="pc"><p style="text-align: center; font-size: 20px; font-weight: bold; line-height: 1.4;">
                他オリジナルグッズ <br/> 販売の企画・提案</p></div>
            <div class="sp"><p style="text-align: center; font-size: 13px; font-weight: bold; line-height: 1.4;">
                他オリジナルグッズ <br/> 販売の企画・提案</p></div>
        </td>
        <td style="width: 50%;"><p><img class="wp-image-6546 size-full aligncenter"
                                        src="https://novelty.orilab.jp/wp-content/uploads/2017/09/4.png" alt=""
                                        width="222" height="227"/></p>
            <div class="pc"><p style="text-align: center; font-size: 20px; font-weight: bold; line-height: 1.4;">全国どこでも <br/>
                最短で発送対応</p></div>
            <div class="sp"><p style="text-align: center; font-size: 13px; font-weight: bold; line-height: 1.4;">全国どこでも <br/>
                最短で発送対応</p></div>
        </td>
    </tr>
    </tbody>
</table>
<div class="pc" style="background-color: #73ccf3; color: #fff;"><p>&nbsp;</p>
    <p style="text-align: center; margin-bottom: 0;"><span style="font-size: 24pt;"> <strong> オリジナルノベルティラボの <br/> <span
            style="color: #f8ff32;"> 2つ</span> の特徴</strong> </span></p>
    <!--p style="text-align: center;"><span style="font-size: 12pt;"> - CHARACTERISTIC -</span></p-->
    <table class="pc-table" style="width: 100%;">
        <tbody>
        <tr>
            <td style="width: 30%; background-color: transparent;"><img class="alignnone size-full wp-image-1029"
                                                                        src="https://novelty.orilab.jp/wp-content/uploads/2017/09/1.png"
                                                                        alt="" width="200" height="200"/></td>
            <td style="width: 70%; background-color: transparent;"><p><span style="font-size: 18pt;"> <strong> <span
                    style="color: #ffff00;">30万件以上制作実績を持つ <br/>TMIX(オリジナルラボ)が運営</span> </strong> </span></p>
                <p>オリジナルノベルティラボは、30万件以上のオリジナルアイテムの制作で信頼される、TMIX(オリジナルラボ)が運営するノベルティグッズ制作専門サービスです。</p>
                <p>豊富な制作実績で培ったノウハウが、満足度の高い望み通りのアイテムをお届けします。</p></td>
        </tr>
        <tr>
            <td style="width: 30%; background-color: transparent;"><img class="alignnone size-full wp-image-1014"
                                                                        src="https://novelty.orilab.jp/wp-content/uploads/2017/09/2.png"
                                                                        alt="" width="200" height="200"/></td>
            <td style="width: 70%; background-color: transparent;"><p><span style="font-size: 18pt;"> <strong> <span
                    style="color: #ffff00;">在庫リスクの心配無用 !<br/>1個から作成OK</span> </strong> </span></p>
                <p>
                    オリジナルノベルティグッズを作成・販売したい方はもちろん、自分やグループ用のオリジナルノベルティグッズ作成時にも利用できるよう、1個から生産できる体制を構築しました。初回取引時のみ最低ロットがある、ということはありません。もちろん、ノベルティ以外のアイテムも1個から制作可能です。 </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="sp" style="background-color: #73ccf3; color: #fff; margin: 0 -1.41575em; padding: 0 1.41575em;"><p>
    &nbsp;</p>
    <p style="text-align: center; margin-bottom: 0;"><span style="font-size: 18pt;"> <strong> オリジナルノベルティラボの <br/><span
            style="color: #f8ff32;">2つ</span> の特徴</strong> </span></p>
    <p style="text-align: center;"><span style="font-size: 12pt;"> - CHARACTERISTIC -</span></p>
    <p style="text-align: center;"><img class="size-full wp-image-1029 aligncenter"
                                        src="https://novelty.orilab.jp/wp-content/uploads/2017/09/1.png" alt=""
                                        width="200" height="200"/></p>
    <p style="text-align: center;"><span style="font-size: 14pt; color: #ffff00;"> <strong>30万件以上制作実績を持つ <br/>TMIX(オリジナルラボ)が運営</strong> </span>
    </p>
    <p style="text-align: center;">オリジナルノベルティラボは、30万件以上のオリジナルアイテムの制作で信頼される、TMIX(オリジナルラボ)が運営する<br/>ノベルティグッズ制作専門サービスです。
    </p>
    <p style="text-align: center;">豊富な制作実績で培ったノウハウが、満足度の高い望み通りのアイテムをお届けします。</p>
    <p style="text-align: center;"><img class="size-full wp-image-1014 aligncenter"
                                        src="https://novelty.orilab.jp/wp-content/uploads/2017/09/2.png" alt=""
                                        width="200" height="200"/></p>
    <p style="text-align: center;"><span
            style="color: #ffff00; font-size: 14pt;"> <strong>在庫リスクの心配無用 !<br/>1個から作成OK</strong> </span></p>
    <p style="text-align: center;">オリジナルノベルティグッズを作成・販売したい方はもちろん、自分やグループ用のオリジナルノベルティグッズ作成時にも利用できるよう、<br/>1個から生産できる体制を構築しました。<br/>初回取引時のみ最低ロットがある、ということはありません。もちろん、ノベルティ以外のアイテムも1個から制作可能です。  
    </p>
    <p>&nbsp;</p></div><h2 id="toiawase">デザイン制作依頼・ご相談</h2><p>作成したいデザインのイメージはある、写真を使ってデザインを用意したいが自分では作れない、そんなお客様は <a
        href="/info/order">こちら</a>よりお申込みください。ご不明な点もご質問頂ければと思います。</p>
<div class="pc">
    <div class="message-box"><h3 style="font-size: 30px; text-align: center; font-weight: bold; padding: 20px;">
        オリジナルノベルティラボで<br/>実用性や持ち帰り率の高い企画グッズを !</h3>
        <div><img src="http://novelty.orilab.jp/wp-content/uploads/2017/09/novelty_foot.jpg" alt="オリジナルノベルティケースを作成しよう！"
                  width="100%"/></div>
        <p style="font-size: 16px; line-height: 1.8; padding: 20px;">
            オリジナルノベルティラボでは、1個からオリジナルのバッグ・文房具・タオル・マグカップ・キーホルダー・モバイルバッテリーなどの商品を見積もり不要で作成できます ! 
             使いたい文字や写真、イラスト、イメージでオリジナルの効果を実感してみませんか ?  店舗・施設などを経営する方や会社の業績アップはもちろん、イベント・行事の実用景品、記念品の進呈など、幅広い活用ができます ! 
            また大量にご注文いただいた場合はボリュームディスカウントを適用。グループやサークルのフレンドリーアイテム、販促物やプレゼント品として作成したいという方には、業界最安価格で提供させていただきます。デザインの作成には、商品ごとにデザインエディタをご用意。セミオーダー感覚でご要望に応じた商品を作成できます。
            リリースを記念して期間限定の無料デザイン作成・相談も実施中 ! </p></div>
</div>
<div class="sp">
    <div class="message-box">
        <div><h3 style="font-size: ２０px; text-align: center; font-weight: bold; padding: 15px;">オリジナルノベルティラボで<br/>実用性や持ち帰り率の高い<br/>企画グッズを
            !</h3>
            <div><img src="http://novelty.orilab.jp/wp-content/uploads/2017/09/novelty_foot.jpg"
                      alt="オリジナルノベルティケースを作成しよう！" width="100%"/></div>
            <p style="font-size: 15px; line-height: 1.6; padding: 20px;">
                オリジナルノベルティラボでは、1個からオリジナルのバッグ・文房具・タオル・マグカップ・キーホルダー・モバイルバッテリーなどの商品を見積もり不要で作成できます ! 
                 使いたい文字や写真、イラスト、イメージでオリジナルの効果を実感してみませんか ?  店舗・施設などを経営する方や会社の業績アップはもちろん、イベント・行事の実用景品、記念品の進呈など、幅広い活用ができます
                ! 
                また大量にご注文いただいた場合はボリュームディスカウントを適用。グループやサークルのフレンドリーアイテム、販促物やプレゼント品として作成したいという方には、業界最安価格で提供させていただきます。デザインの作成には、商品ごとにデザインエディタをご用意。セミオーダー感覚でご要望に応じた商品を作成できます。
                リリースを記念して期間限定の無料デザイン作成・相談も実施中 ! </p></div>
    </div>
</div>